.control-panel {
    max-width: 480px;
    margin: 40px auto;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 0.10px 25px rgba(0, 0, 0, 0.12);
    background: white;
}

.control-panel-heading{
    margin-bottom: 8px;
    font-size: 1.5rem;
}


.control-panel-para {
    margin-bottom: 16px;
    color: #666;
}

.control-panel-color-box {
    margin-bottom: 16px;
}

.control-panel-color-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}

.control-panel-select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd
}

.control-panel-color-input-container {
    margin-bottom: 16px;
}

.control-panel-color-input-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}

.control-panel-custom-input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: monospace;
}

.control-panel-button{
    width: 100%;
    padding: 10px 16px;
    border-radius: 999px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.control-panel-tip-para {
    font-size: 0.8rem;
    margin-top: 12px;
    color: #999;
}





